## Pandas的应用-2

### DataFrame的应用

#### 创建DataFrame对象

##### 通过二维数组创建`DataFrame`对象

In [2]:
import numpy as np
import pandas as pd

scores = np.random.randint(10, 101, (5, 3))
courses = ['CH','MATH','EN']
ids = [1001, 1002, 1003, 1004, 1005]
df1 = pd.DataFrame(data=scores, columns=courses, index=ids)
df1

      CH  MATH  EN
1001  83    56  34
1002  10    82  95
1003  25    77  24
1004  67    47  76
1005  32    91  96

##### 通过字典创建`DataFrame`对象

In [3]:
scores1 = {
    'CH':[62, 72, 93, 88, 93],
    'MATH':[95, 65, 86, 66, 87],
    'EN':[66, 75, 82, 69, 82]
}
ids1 = [1001, 1002, 1003, 1004, 1005]
df2 = pd.DataFrame(data=scores1, index=ids1)
df2

      CH  MATH  EN
1001  62    95  66
1002  72    65  75
1003  93    86  82
1004  88    66  69
1005  93    87  82

##### 读取 CSV 文件创建`DataFrame`对象

可以通过`pandas` 模块的`read_csv`函数来读取 CSV 文件，`read_csv`函数的参数非常多，下面接受几个比较重要的参数。

- `sep` / `delimiter`：分隔符，默认是`,`。
- `header`：表头（列索引）的位置，默认值是`infer`，用第一行的内容作为表头（列索引）。
- `index_col`：用作行索引（标签）的列。
- `usecols`：需要加载的列，可以使用序号或者列名。
- `true_values` / `false_values`：哪些值被视为布尔值`True` / `False`。
- `skiprows`：通过行号、索引或函数指定需要跳过的行。
- `skipfooter`：要跳过的末尾行数。
- `nrows`：需要读取的行数。
- `na_values`：哪些值被视为空值。